.home-content{
    padding: 24px;
}
.home-main{
    padding: 24px;
    background-color: #fff;
    .home-title{
        padding: 24px;
        margin: 0;
    }
}
.search-form{
    padding-bottom:24px;
}