.header{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .menuBread{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .trigger {
        margin-right: 10px;
    }
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .userBadge{
        margin-right: 20px;
    }
    .userInfo{
        cursor: pointer;
        img{
            border-radius: 30px;
            margin-left: 10px;
            border: 1px solid #ccc;
        }
    }
}